<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="ae307c41-511c-4319-9ac1-a8b5c7f0a6df" activeEnvironment="Default" name="diploma_project" resourceRoot="${projectDir}" soapui-version="6.0.0" abortOnError="false" runType="SEQUENTIAL" lastOpened="2016-05-30T22:39:10.667+02:00" defaultScriptLanguage="Groovy" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ae307c41-511c-4319-9ac1-a8b5c7f0a6dffileName">issues</con:setting></con:settings><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>https://mciwoniuk@bitbucket.org/mciwoniuk/soapui.git</con:repositoryIdentifier></con:vcsConfiguration><con:savedRecentRuns>1</con:savedRecentRuns><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:sensitiveInformation/><con:authRepository/><con:tags/></con:soapui-project>