<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1f99fa47-b20f-44a1-a084-147d6d542e43" name="DDT" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1f99fa47-b20f-44a1-a084-147d6d542e43fileName">DDT</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>