<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="92ceec36-fdb3-451d-8b82-77aa138606ed" wadlVersion="http://wadl.dev.java.net/2009/02" name="JIRA 7.1.2" type="rest" basePath="/rest" definitionUrl="C:\Users\Gosia\Desktop\PracaDyp\SoapUI_projects\jira-rest-plugin.wadl.xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="92ceec36-fdb3-451d-8b82-77aa138606edfileName">JIRA-7.1.2</con:setting></con:settings><con:definitionCache type="TEXT"/><con:endpoints><con:endpoint>http://ASUS-K501L:8080/</con:endpoint><con:endpoint>http://ASUS-K501L:8089/</con:endpoint><con:endpoint>http://localhost:8080</con:endpoint><con:endpoint>https://localhost:8080</con:endpoint><con:endpoint>https://rest-wsb4.atlassian.net</con:endpoint></con:endpoints></con:interface>